{% raw %}<div class="feed-item {{#if button}} has-action{{/if}}">
  <span class="feed-item-date">{{this.date}}</span>
  {{#with link}}{{> atoms-link label=../title classes="feed-item-title"}}{{/with}}
  {{#if button}}{{#with button}}{{> atoms-button-link hollow=true classes="feed-item-action"}}{{/with}}{{/if}}
</div>
{% endraw %}