<div class="card-library-aid">
  <div class="card-library-aid-icon">{{> tokens-icon id='material-lightbulb_on'}}</div>
  <div class="card-library-aid-context">{{default context 'Library Aid'}}</div>
  {{#with link}}{{> atoms-link label=../title classes='card-library-aid-title'}}{{/with}}
</div>
