{% raw %}{{#unless (eq hyperlink false)}}<a href="{{default href '/'}}" class="logo-link">{{/unless}}
  <div class="logo" data-logo="{{id}}">
    {{{ logo id }}}
  </div>
{{#unless (eq hyperlink false)}}</a>{{/unless}}
{% endraw %}