<div class="explorer">
  <span class="explorer-context">{{default context 'Explore'}}</span>
  <span class="explorer-heading">{{heading}}</span>
  <ul class="explorer-list">
    {{#each links}}<li class="explorer-list-item">{{> atoms-link classes="explorer-link"}}</li>{{/each}}
  </ul>
</div>
