{% raw %}<div class="flyout-info-item">
  <div class="flyout-info-item-label">{{this.label}}</div>
  <div class="flyout-info-item-data{{#if faded}} -faded{{/if}}">{{this.data}}</div>
</div>
{% endraw %}