.badge.-white, .badge {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 25px;
  margin: 1em auto;
}
.badge:not(.-square):not(.-round)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.badge {
  background-color: #E9BF55;
}
.badge {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6667;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #082B73;
}
.badge:not(.-square)::after {
  bottom: -3px;
  height: 10px;
  background-color: #E9BF55;
  -webkit-transform: skewx(-3deg) rotate(-3deg);
          transform: skewx(-3deg) rotate(-3deg);
}
.badge.-round {
  border-radius: 4px;
}
.badge.-white {
  background-color: #FFFFFF;
}
.badge.-white {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6667;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #004990;
}
.badge.-white:not(.-square)::after {
  bottom: -3px;
  height: 10px;
  background-color: #FFFFFF;
  -webkit-transform: skewx(-3deg) rotate(-3deg);
          transform: skewx(-3deg) rotate(-3deg);
}
.badge.-white.-round {
  border-radius: 4px;
}