<ul class="c-primary-nav__sublist js-nav-dropdown {% if page.subgroup == include.parent %} is-active{% endif %}">

  {% for site_page in site.pages %}

    {% if site_page.subgroup == include.parent and site_page.layout == 'pattern-category' %}

      <li class="c-primary-nav__subitem {% if page.subgroup == include.parent %}is-active{% endif %}">

        <a class="c-primary-nav__sublink {% if site_page.url == page.url %}is-active is-current{% endif %}" 
           href="{{site.baseurl}}{{site_page.permalink}}">
            Overview
        </a>

      </li>

    {% endif %}

  {% endfor %}

  {% for site_page in site.pages %}

    {% if site_page.subgroup == include.parent and site_page.layout != "parent-category" and site_page.status != "Planned" %}

      <li class="c-primary-nav__subitem {% if page.subgroup == include.parent %}is-active{% endif %}">

        <a class="c-primary-nav__sublink {% if site_page.url == page.url %}is-active is-current{% endif %}" 
           href="{{site.baseurl}}{{site_page.url}}">
		  {{site_page.title}}
        </a>

      </li>
  
    {% endif %}

  {% endfor %}
  
</ul>