<li class="c-primary-nav__subitem {% if page.subgroup == include.subitem.slug %}is-active{% endif %}">

  <a class="c-primary-nav__sublink {% if include.subitem.slug %}c-primary-nav__sublink--has-children js-nav-dropdown-trigger{% endif %} {% if page.url == include.path %}is-active is-current{% endif %} {% if page.subgroup == include.subitem.slug %}is-active{% endif %}" 
     href="{% if include.subitem.slug %}#{% else %}{{site.baseurl}}{{include.path}}{% endif %}">

    <span class="c-primary-nav__text">{{include.subitem.label}}</span>

    {% if include.subitem.slug %}

      <svg class="c-icon c-primary-nav__subicon" aria-hidden="true">

        <use href="{{site.baseurl}}/icons.svg#chevron-right"></use>

      </svg>
    
    {% endif %}
  
  </a>

  {% if include.subitem.slug %}
  
	{% include primary-nav-submenu.html parent=include.subitem.slug %}
	
  {% endif %}

</li>
