<li class="c-primary-nav__item {% if page.url contains ('/' | append: include.item.slug) %}is-active{% endif %}">
  
  {% assign children = site.pages | where: 'group', include.item.slug %}
  {% assign count_children = children | size %}

  {% unless include.item.button %}
  
    <a class="c-primary-nav__link {% if count_children > 0 %}c-primary-nav__link--has-children js-nav-dropdown-trigger{% endif %} {% if page.url contains ('/' | append: include.item.slug) %} is-active is-current{% endif %}" 
       href="{{include.item.slug | relative_url }}">

      <span class="c-primary-nav__text">{{include.item.label}}</span>

      {% if count_children > 0 %}
      
        <svg class="c-icon c-primary-nav__icon" aria-hidden="true">

          <use href="{{site.baseurl}}/icons.svg#chevron-right"></use>

        </svg>
      
      {% endif %}

    </a>

    <ul class="c-primary-nav__sublist js-nav-dropdownn {% if page.url contains ('/' | append: include.item.slug) %} is-active{% endif %}">

      {% for site_page in site.pages %}

        {% if site_page.group == include.item.slug %}

          <li class="c-primary-nav__item">

            <a class="c-primary-nav__link {% if site_page.url == page.url %}is-active is-current{% endif %}" 
               href="{{site.baseurl}}{{site_page.url}}">

              {% if site_page.title == include.item.label %}

                <span class="c-primary-nav__text">Overview</span>

              {% else %}

                {{ site_page.title }}

              {% endif %}

            </a>

            {% if include.item.subnav %}

              <ul class="c-primary-nav__sublist js-nav-dropdown {% assign post_index = '0' %}{% for sub_page in site.pages %}{% if sub_page.group == include.item.slug %}{% capture post_index %}{{ post_index | plus: '1' }}{% endcapture %}{% endif %}{% endfor %}{% if page.url contains ('/' | append: include.item.slug) %} is-active{% endif %}">

                {% for nav_subitem in include.item.subnav %}

                  {% include primary-nav-subitem.html subitem=nav_subitem %}

                {% endfor %}

              </ul>

            {% endif %}

          </li>

        {% endif %}

      {% endfor %}

    </ul>
  
  {% else %}
  
    <a class="c-primary-nav__button {% if page.url contains ('/' | append: include.item.slug) %} is-active is-current{% endif %}" 
       href="{{include.item.slug | relative_url }}">

      <span class="c-primary-nav__text">{{include.item.label}}</span>

      <svg class="c-icon c-primary-nav__icon" aria-hidden="true">

        <use href="{{site.baseurl}}/icons.svg#chevron-right"></use>

      </svg>

    </a>
  
  {% endunless %}

</li>