.search-box {
  margin: 0 !important;
  grid-area: box;
}
[disabled].search-box, .is-disabled.search-box {
  cursor: not-allowed;
}
.search-button {
  grid-area: button;
}
[disabled].search-button, .is-disabled.search-button {
  cursor: not-allowed;
}
.search-cancel {
  grid-area: cancel;
}
[disabled].search-cancel, .is-disabled.search-cancel {
  cursor: not-allowed;
}
.search-form {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 0;
}
.search-form:not(.is-active) {
  display: none;
}
.is-default.search-form {
  display: block;
}
.search-toggle {
  display: none;
}
.search-toggle:not(:checked) + .search-form {
  display: none;
}
.search-toggle:checked + .search-form {
  display: grid;
}
.search:not(.-contained):not(.-form), .search-form {
  display: grid;
  grid-template-areas: "box button cancel";
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.-form.search .search-box {
  display: block;
  grid-area: box;
}
.-form.search .search-button {
  display: block;
  grid-area: button;
}
.-form.-contained.search .search-box {
  display: block;
  grid-area-start: box;
  grid-area-end: button;
}
.-form.-contained.search .search-button {
  display: block;
  grid-area: none;
}
.-contained.search {
  display: grid;
  grid-template-areas: "box cancel";
  grid-template-columns: 1fr auto;
}
.-contained.search .search-box {
  display: block;
  grid-area: box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.-contained.search .search-button {
  display: block;
  grid-area: box;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.-contained.search .search-button::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  left: 0;
}
.-contained.search .search-cancel {
  grid-area: cancel;
}
.search {
  margin-top: 1em;
  margin-bottom: 1em;
}
.search {
  height: 52.5px;
}
.search .search-box,
.search .search-button {
  height: 52.5px;
}
.search.-contained .search-box {
  padding-right: 72.5px;
}
.search.-contained .search-button {
  width: 52.5px;
  height: 52.5px;
}
.search.-small {
  height: 45px;
}
.search.-small .search-box,
.search.-small .search-button {
  height: 45px;
}
.search.-small.-contained .search-box {
  padding-right: 65px;
}
.search.-small.-contained .search-button {
  width: 45px;
  height: 45px;
}
.search.-big {
  height: 60px;
}
.search.-big .search-box,
.search.-big .search-button {
  height: 60px;
}
.search.-big.-contained .search-box {
  padding-right: 80px;
}
.search.-big.-contained .search-button {
  width: 60px;
  height: 60px;
}
.search:not(.-contained):not(.-form) .search-box {
  border-radius: 0;
}
.search-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}
.search-box[disabled], .search-box.is-disabled {
  opacity: 0.5;
}
.search-button {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.search-button {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.search-button:hover, .search-button:focus, .search-button.is-hover, .search-button.is-focus {
  color: #FFFFFF;
}
.search-button:active, .search-button.is-active {
  color: rgba(255, 255, 255, 0.5);
}
.search.-contained .search-button {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.9047619048%, #E7EAF1), color-stop(1.9047619048%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=5387F7&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 1.9047619048%, transparent 1.9047619048%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=5387F7&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained .search-button:hover, .search.-contained .search-button:focus, .search.-contained .search-button.is-hover, .search.-contained .search-button.is-focus {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.9047619048%, #E7EAF1), color-stop(1.9047619048%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 1.9047619048%, transparent 1.9047619048%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained .search-button:active, .search.-contained .search-button.is-active {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.9047619048%, #E7EAF1), color-stop(1.9047619048%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 1.9047619048%, transparent 1.9047619048%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained.-small .search-button {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.2222222222%, #E7EAF1), color-stop(2.2222222222%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=5387F7&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 2.2222222222%, transparent 2.2222222222%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=5387F7&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained.-small .search-button:hover, .search.-contained.-small .search-button:focus, .search.-contained.-small .search-button.is-hover, .search.-contained.-small .search-button.is-focus {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.2222222222%, #E7EAF1), color-stop(2.2222222222%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 2.2222222222%, transparent 2.2222222222%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained.-small .search-button:active, .search.-contained.-small .search-button.is-active {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.2222222222%, #E7EAF1), color-stop(2.2222222222%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 2.2222222222%, transparent 2.2222222222%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained.-big .search-button {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.6666666667%, #E7EAF1), color-stop(1.6666666667%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=5387F7&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 1.6666666667%, transparent 1.6666666667%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=5387F7&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained.-big .search-button:hover, .search.-contained.-big .search-button:focus, .search.-contained.-big .search-button.is-hover, .search.-contained.-big .search-button.is-focus {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.6666666667%, #E7EAF1), color-stop(1.6666666667%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 1.6666666667%, transparent 1.6666666667%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search.-contained.-big .search-button:active, .search.-contained.-big .search-button.is-active {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.6666666667%, #E7EAF1), color-stop(1.6666666667%, transparent)) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
  background: linear-gradient(to right, #E7EAF1 1.6666666667%, transparent 1.6666666667%) no-repeat center/100% 60%, url(../icons/php/icon.php?id=material-search&color=004990&size[width]=20&size[height]=20) no-repeat 20px center;
}
.search-button[disabled], .search-button.is-disabled {
  opacity: 0.5;
}
.search-cancel {
  margin-left: 1em;
  text-decoration: underline;
}
.search.-contained .search-button {
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: transparent;
}
.search.-contained.-form .search-button {
  color: transparent;
}