{% raw %}
{{#each types}}

  <div class="pl-block">

    <h3 class="pl-block-name">{{name}}</h3>

    <code class="pl-block-class">{{class}}</code>

    <div class="pl-block-info">

        {{> tokens-text }}

    </div>

  </div>

{{/each}}
{% endraw %}