.slide-action .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.slide-action .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.slide-action .-inline.button-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.slide-action [disabled].button, .slide-action .is-disabled.button {
  cursor: not-allowed;
}

.slide {
  display: grid;
  grid-template-areas: "image context" "image title" "action action";
}
@media (min-width: 601px) and (max-width: 900px) {
  .slide {
    grid-template-areas: "image context" "image title" "image action";
  }
}
@media (min-width: 901px) {
  .slide {
    grid-template-areas: "image context" "image title" "image action";
  }
}
.slide-context {
  grid-area: context;
  margin: 0;
}
.slide-image {
  grid-area: image;
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}
.slide-image img {
  display: block;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 100%;
  min-height: 100%;
}
.-landscape.slide-image img {
  height: 100%;
  width: auto;
  min-width: 100%;
}
.-portrait.slide-image img {
  width: 100%;
  height: auto;
  min-height: 100%;
}
.-align-x-left.slide-image:not(.-align-y-top):not(.-align-y-bottom) img {
  left: 0;
  -webkit-transform: translatex(0%) translatey(-50%);
          transform: translatex(0%) translatey(-50%);
}
.-align-x-right.slide-image:not(.-align-y-top):not(.-align-y-bottom) img {
  left: auto;
  right: 0;
  -webkit-transform: translatex(0%) translatey(-50%);
          transform: translatex(0%) translatey(-50%);
}
.-align-y-top.slide-image:not(.-align-x-left):not(.-align-x-right) img {
  top: 0;
  -webkit-transform: translatex(-50%) translatey(0%);
          transform: translatex(-50%) translatey(0%);
}
.-align-y-bottom.slide-image:not(.-align-x-left):not(.-align-x-right) img {
  top: auto;
  bottom: 0;
  -webkit-transform: translatex(-50%) translatey(0%);
          transform: translatex(-50%) translatey(0%);
}
.-align-x-left.-align-y-top.slide-image img {
  left: 0;
  top: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.-align-x-left.-align-y-bottom.slide-image img {
  left: 0;
  top: auto;
  bottom: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.-align-x-right.-align-y-top.slide-image img {
  left: auto;
  right: 0;
  top: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.-align-x-right.-align-y-bottom.slide-image img {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.slide-title {
  grid-area: title;
  margin: 0;
}
.slide-action {
  grid-area: action;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 601px) and (max-width: 900px) {
  .slide-action {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 901px) {
  .slide-action {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.slide {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
  grid-column-gap: 25px;
  grid-row-gap: 10px;
  background-color: #004990;
  color: #FFFFFF;
  padding: 40px 100px;
}
@media (min-width: 601px) and (max-width: 900px) {
  .slide {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, -webkit-min-content) 1fr;
    grid-template-rows: repeat(2, min-content) 1fr;
  }
}
@media (min-width: 901px) {
  .slide {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, -webkit-min-content) 1fr;
    grid-template-rows: repeat(2, min-content) 1fr;
  }
}
.slide-context {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6667;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E9BF55;
}
@media (max-width: 600px) {
  .slide-image {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .slide-image {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 901px) {
  .slide-image {
    width: 175px;
    height: 175px;
  }
}
@media (min-width: 1200px) {
  .slide-image {
    width: 200px;
    height: 200px;
  }
}
.slide-title {
  font-size: 20px;
}
.slide-title {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: normal;
  text-transform: none;
  color: #FFFFFF;
}
.slide-action .button {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}
.slide-action .button {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #004990;
}
.slide-action .button .icon.-left {
  margin-right: 1em;
}
.slide-action .button .icon.-right {
  margin-left: 1em;
}
.slide-action .button .icon svg {
  fill: #004990;
}
.slide-action .button.-hollow {
  background-color: transparent;
}
.slide-action .button.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.slide-action .button.-hollow .icon svg {
  fill: #FFFFFF;
}
.slide-action .button.-pill {
  border-radius: 25px;
}
.slide-action .button.-uncapitalize {
  text-transform: none !important;
}
.slide-action .button:hover, .slide-action .button:focus, .slide-action .button.is-hover, .slide-action .button.is-focus {
  border-color: #E9BF55;
  background-color: #E9BF55;
}
.slide-action .button:hover, .slide-action .button:focus, .slide-action .button.is-hover, .slide-action .button.is-focus {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #082B73;
}
.slide-action .button:hover .icon svg, .slide-action .button:focus .icon svg, .slide-action .button.is-hover .icon svg, .slide-action .button.is-focus .icon svg {
  fill: #082B73;
}
.slide-action .button:hover.-hollow, .slide-action .button:focus.-hollow, .slide-action .button.is-hover.-hollow, .slide-action .button.is-focus.-hollow {
  border-color: #FFFFFF;
  background-color: #4077ac;
}
.slide-action .button:hover.-hollow, .slide-action .button:focus.-hollow, .slide-action .button.is-hover.-hollow, .slide-action .button.is-focus.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.slide-action .button:hover.-hollow .icon svg, .slide-action .button:focus.-hollow .icon svg, .slide-action .button.is-hover.-hollow .icon svg, .slide-action .button.is-focus.-hollow .icon svg {
  fill: #E9BF55;
}
.slide-action .button:active, .slide-action .button.is-active {
  border-color: #E9BF55;
  background-color: #E9BF55;
}
.slide-action .button:active, .slide-action .button.is-active {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(8, 43, 115, 0.5);
}
.slide-action .button:active.-hollow, .slide-action .button.is-active.-hollow {
  border-color: #FFFFFF;
  background-color: #4077ac;
}
.slide-action .button:active.-hollow, .slide-action .button.is-active.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.slide-action .button[disabled], .slide-action .button.is-disabled {
  opacity: 0.5;
}
.slide-action .button-group > * {
  margin-right: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}