.tile-utility-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.tile-utility-title .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tile-utility {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  overflow: hidden;
}
.tile-utility:not(.has-description) {
  grid-template-areas: "title";
}
.tile-utility:not(.has-description) .tile-utility-description {
  display: none;
}
.has-description.tile-utility {
  grid-template-areas: "title" "description";
}
.has-description.tile-utility .tile-utility-description {
  display: block;
}
.tile-utility-image {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.tile-utility-image img {
  display: block;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  min-height: 100%;
}
.tile-utility-image img {
  width: 100%;
}
.-cover.tile-utility-image img {
  width: auto;
  min-width: 100%;
}
.-align-x-left.tile-utility-image:not(.-align-y-top):not(.-align-y-bottom) img {
  left: 0;
  -webkit-transform: translatex(0%) translatey(-50%);
          transform: translatex(0%) translatey(-50%);
}
.-align-x-right.tile-utility-image:not(.-align-y-top):not(.-align-y-bottom) img {
  left: auto;
  right: 0;
  -webkit-transform: translatex(0%) translatey(-50%);
          transform: translatex(0%) translatey(-50%);
}
.-align-y-top.tile-utility-image:not(.-align-x-left):not(.-align-x-right) img {
  top: 0;
  -webkit-transform: translatex(-50%) translatey(0%);
          transform: translatex(-50%) translatey(0%);
}
.-align-y-bottom.tile-utility-image:not(.-align-x-left):not(.-align-x-right) img {
  top: auto;
  bottom: 0;
  -webkit-transform: translatex(-50%) translatey(0%);
          transform: translatex(-50%) translatey(0%);
}
.-align-x-left.-align-y-top.tile-utility-image img {
  left: 0;
  top: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.-align-x-left.-align-y-bottom.tile-utility-image img {
  left: 0;
  top: auto;
  bottom: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.-align-x-right.-align-y-top.tile-utility-image img {
  left: auto;
  right: 0;
  top: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.-align-x-right.-align-y-bottom.tile-utility-image img {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  -webkit-transform: translatex(0%) translatey(0%);
          transform: translatex(0%) translatey(0%);
}
.tile-utility-title {
  grid-area: title;
  margin: 0;
}
.tile-utility-description {
  grid-area: description;
  margin: 0;
}

.tile-utility {
  padding: 25px;
  padding-top: calc(55% + 25px);
  grid-gap: 10px;
  border-radius: 5px;
  border: 1px solid #dbdee6;
}
.tile-utility-image {
  padding-top: 55%;
}
.tile-utility-title {
  font-family: "Cardo", serif;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #605858;
}
.tile-utility-title {
  font-weight: normal;
  font-style: normal;
  color: #082B73;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: none;
  border: none;
}
.tile-utility-title .icon {
  width: 24px;
  height: 24px;
  margin-right: 1ex;
}
.tile-utility-title .icon svg {
  fill: #082B73;
}
.tile-utility-title:hover, .tile-utility-title.is-hover, .tile-utility-title:focus, .tile-utility-title.is-focus {
  color: #336BE6;
}
.tile-utility-title:hover .icon svg, .tile-utility-title.is-hover .icon svg, .tile-utility-title:focus .icon svg, .tile-utility-title.is-focus .icon svg {
  fill: #336BE6;
}
.tile-utility-title:active, .tile-utility-title.is-active {
  color: #336BE6;
}
.tile-utility-title:active .icon svg, .tile-utility-title.is-active .icon svg {
  fill: #336BE6;
}
.tile-utility-title.-popular {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.05;
  color: #FFFFFF;
}
.tile-utility-title.-popular:hover, .tile-utility-title.-popular.is-hover, .tile-utility-title.-popular:focus, .tile-utility-title.-popular.is-focus {
  color: #336BE6;
}
.tile-utility-title.-popular:active, .tile-utility-title.-popular.is-active {
  color: #336BE6;
}
.tile-utility-title.-underline {
  text-decoration: underline;
}
.tile-utility-description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6429;
  letter-spacing: normal;
  text-transform: none;
  text-align: left;
  color: #605858;
}