.button.-error, .button.-caution, .button.-success, .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.button.-error-group, .button.-caution-group, .button.-success-group, .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.-inline.button.-error-group, .-inline.button.-caution-group, .-inline.button.-success-group, .-inline.button-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
[disabled].button, .is-disabled.button {
  cursor: not-allowed;
}

.button {
  border: 1px solid #336BE6;
  background-color: #336BE6;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button .icon.-left {
  margin-right: 1em;
}
.button .icon.-right {
  margin-left: 1em;
}
.button .icon svg {
  fill: #FFFFFF;
}
.button.-hollow {
  background-color: transparent;
}
.button.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #336BE6;
}
.button.-hollow .icon svg {
  fill: #336BE6;
}
.button.-pill {
  border-radius: 25px;
}
.button.-uncapitalize {
  text-transform: none !important;
}
.button:hover, .button:focus, .button.is-hover, .button.is-focus {
  border-color: #004990;
  background-color: #004990;
}
.button:hover, .button:focus, .button.is-hover, .button.is-focus {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button:hover .icon svg, .button:focus .icon svg, .button.is-hover .icon svg, .button.is-focus .icon svg {
  fill: #FFFFFF;
}
.button:hover.-hollow, .button:focus.-hollow, .button.is-hover.-hollow, .button.is-focus.-hollow {
  border-color: #336BE6;
  background-color: #D0DEFD;
}
.button:hover.-hollow, .button:focus.-hollow, .button.is-hover.-hollow, .button.is-focus.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #336BE6;
}
.button:hover.-hollow .icon svg, .button:focus.-hollow .icon svg, .button.is-hover.-hollow .icon svg, .button.is-focus.-hollow .icon svg {
  fill: #004990;
}
.button:active, .button.is-active {
  border-color: #004990;
  background-color: #004990;
}
.button:active, .button.is-active {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.button:active.-hollow, .button.is-active.-hollow {
  border-color: #336BE6;
  background-color: #D0DEFD;
}
.button:active.-hollow, .button.is-active.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(51, 107, 230, 0.5);
}
.button[disabled], .button.is-disabled {
  opacity: 0.5;
}
.button-group > * {
  margin-right: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.button.-success {
  border: 1px solid #257611;
  background-color: #257611;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}
.button.-success {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button.-success .icon.-left {
  margin-right: 1em;
}
.button.-success .icon.-right {
  margin-left: 1em;
}
.button.-success .icon svg {
  fill: #FFFFFF;
}
.button.-success.-hollow {
  background-color: transparent;
}
.button.-success.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #257611;
}
.button.-success.-hollow .icon svg {
  fill: #257611;
}
.button.-success.-pill {
  border-radius: 25px;
}
.button.-success.-uncapitalize {
  text-transform: none !important;
}
.button.-success:hover, .button.-success:focus, .button.-success.is-hover, .button.-success.is-focus {
  border-color: #1c590d;
  background-color: #1c590d;
}
.button.-success:hover, .button.-success:focus, .button.-success.is-hover, .button.-success.is-focus {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button.-success:hover .icon svg, .button.-success:focus .icon svg, .button.-success.is-hover .icon svg, .button.-success.is-focus .icon svg {
  fill: #FFFFFF;
}
.button.-success:hover.-hollow, .button.-success:focus.-hollow, .button.-success.is-hover.-hollow, .button.-success.is-focus.-hollow {
  border-color: #257611;
  background-color: #E0F6DA;
}
.button.-success:hover.-hollow, .button.-success:focus.-hollow, .button.-success.is-hover.-hollow, .button.-success.is-focus.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #257611;
}
.button.-success:hover.-hollow .icon svg, .button.-success:focus.-hollow .icon svg, .button.-success.is-hover.-hollow .icon svg, .button.-success.is-focus.-hollow .icon svg {
  fill: #1c590d;
}
.button.-success:active, .button.-success.is-active {
  border-color: #1c590d;
  background-color: #1c590d;
}
.button.-success:active, .button.-success.is-active {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.button.-success:active.-hollow, .button.-success.is-active.-hollow {
  border-color: #257611;
  background-color: #E0F6DA;
}
.button.-success:active.-hollow, .button.-success.is-active.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(37, 118, 17, 0.5);
}
.button.-success[disabled], .button.-success.is-disabled {
  opacity: 0.5;
}
.button.-success-group > * {
  margin-right: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.button.-caution {
  border: 1px solid #AB750C;
  background-color: #AB750C;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}
.button.-caution {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button.-caution .icon.-left {
  margin-right: 1em;
}
.button.-caution .icon.-right {
  margin-left: 1em;
}
.button.-caution .icon svg {
  fill: #FFFFFF;
}
.button.-caution.-hollow {
  background-color: transparent;
}
.button.-caution.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #AB750C;
}
.button.-caution.-hollow .icon svg {
  fill: #AB750C;
}
.button.-caution.-pill {
  border-radius: 25px;
}
.button.-caution.-uncapitalize {
  text-transform: none !important;
}
.button.-caution:hover, .button.-caution:focus, .button.-caution.is-hover, .button.-caution.is-focus {
  border-color: #805809;
  background-color: #805809;
}
.button.-caution:hover, .button.-caution:focus, .button.-caution.is-hover, .button.-caution.is-focus {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button.-caution:hover .icon svg, .button.-caution:focus .icon svg, .button.-caution.is-hover .icon svg, .button.-caution.is-focus .icon svg {
  fill: #FFFFFF;
}
.button.-caution:hover.-hollow, .button.-caution:focus.-hollow, .button.-caution.is-hover.-hollow, .button.-caution.is-focus.-hollow {
  border-color: #AB750C;
  background-color: #F6E4C1;
}
.button.-caution:hover.-hollow, .button.-caution:focus.-hollow, .button.-caution.is-hover.-hollow, .button.-caution.is-focus.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #AB750C;
}
.button.-caution:hover.-hollow .icon svg, .button.-caution:focus.-hollow .icon svg, .button.-caution.is-hover.-hollow .icon svg, .button.-caution.is-focus.-hollow .icon svg {
  fill: #805809;
}
.button.-caution:active, .button.-caution.is-active {
  border-color: #805809;
  background-color: #805809;
}
.button.-caution:active, .button.-caution.is-active {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.button.-caution:active.-hollow, .button.-caution.is-active.-hollow {
  border-color: #AB750C;
  background-color: #F6E4C1;
}
.button.-caution:active.-hollow, .button.-caution.is-active.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(171, 117, 12, 0.5);
}
.button.-caution[disabled], .button.-caution.is-disabled {
  opacity: 0.5;
}
.button.-caution-group > * {
  margin-right: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.button.-error {
  border: 1px solid #B82216;
  background-color: #B82216;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
}
.button.-error {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button.-error .icon.-left {
  margin-right: 1em;
}
.button.-error .icon.-right {
  margin-left: 1em;
}
.button.-error .icon svg {
  fill: #FFFFFF;
}
.button.-error.-hollow {
  background-color: transparent;
}
.button.-error.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #B82216;
}
.button.-error.-hollow .icon svg {
  fill: #B82216;
}
.button.-error.-pill {
  border-radius: 25px;
}
.button.-error.-uncapitalize {
  text-transform: none !important;
}
.button.-error:hover, .button.-error:focus, .button.-error.is-hover, .button.-error.is-focus {
  border-color: #8a1a11;
  background-color: #8a1a11;
}
.button.-error:hover, .button.-error:focus, .button.-error.is-hover, .button.-error.is-focus {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
}
.button.-error:hover .icon svg, .button.-error:focus .icon svg, .button.-error.is-hover .icon svg, .button.-error.is-focus .icon svg {
  fill: #FFFFFF;
}
.button.-error:hover.-hollow, .button.-error:focus.-hollow, .button.-error.is-hover.-hollow, .button.-error.is-focus.-hollow {
  border-color: #B82216;
  background-color: #EABDB9;
}
.button.-error:hover.-hollow, .button.-error:focus.-hollow, .button.-error.is-hover.-hollow, .button.-error.is-focus.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #B82216;
}
.button.-error:hover.-hollow .icon svg, .button.-error:focus.-hollow .icon svg, .button.-error.is-hover.-hollow .icon svg, .button.-error.is-focus.-hollow .icon svg {
  fill: #8a1a11;
}
.button.-error:active, .button.-error.is-active {
  border-color: #8a1a11;
  background-color: #8a1a11;
}
.button.-error:active, .button.-error.is-active {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.button.-error:active.-hollow, .button.-error.is-active.-hollow {
  border-color: #B82216;
  background-color: #EABDB9;
}
.button.-error:active.-hollow, .button.-error.is-active.-hollow {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.6364;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: rgba(184, 34, 22, 0.5);
}
.button.-error[disabled], .button.-error.is-disabled {
  opacity: 0.5;
}
.button.-error-group > * {
  margin-right: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}