{% raw %}<div class="utility-list">
  <h4 class="heading -h4 utility-list-title">
    {{#if icon}}{{> tokens-icon id=icon}}{{/if}}
    {{title}}
  </h4>
  <ul class="utility-list-list">
    {{#each items}}{{> molecules-utility-list-item class="utility-list-list-item" context=(default context ../context)}}{{/each}}
  </ul>
</div>
{% endraw %}