<!DOCTYPE html>
<html>

  {% include head.liquid %}

  <body>

    <div class="l-page-layout l-page-layout--two-column-fixed">

      <div class="l-page-layout__secondary">

        {% include header.liquid %}

      </div>

      <div class="l-page-layout__main">

        <main role="main">
                	
          <div class="l-container">

            {{ content }}

	       </div>
				
        </main>

        {% include footer.liquid %}

      </div>

    </div>
    
    {% include foot.liquid %}

  </body>

</html>
