---
layout: default
---

{% include page-header.liquid %}

<div class="c-text-passage">
  
  {{content | markdownify}}
  
</div>

<ul class="c-card-list l-grid l-grid--3up ">

  {% for site_page in site.pages %}

    {% if site_page.group == page.group and site_page.layout != "landing" %}
  
      {% assign use_card = false %}
  
      {% if site_page.subgroup and site_page.subgroup == page.subgroup %}
  
        {% assign use_card = true %}
  
      {% elsif site_page.subgroup and site_page.layout == 'pattern-category' %}

        {% assign use_card = true %}
  
      {% elsif site_page.subgroup and site_page.layout == 'landing' %}

        {% assign use_card = true %}
  
      {% elsif site_page.subgroup == nil %}
  
        {% assign use_card = true %}
  
      {% endif %}

      {% if use_card == true %}

        <li class="c-card-list__item l-grid__item">

          {% include card.liquid %}

        </li>
  
      {% endif %}

    {% endif %}

  {% endfor %}

</ul>
