---
layout: default
---

{% include breadcrumbs.liquid %}

{% include page-header.liquid %}

<section class="c-section">

  <div class="c-tabs js-tabs">

    <ul class="c-tabs__list">
      
      <li class="c-tabs__item">

        <a href="#tab-pattern" 
           class="c-tabs__link js-tab" 
           data-code-tabs="tab-pattern">
          Pattern
        </a>

      </li>
      
      {% if page.codepen.user and page.codepen.id %}
      
      <li class="c-tabs__item">

        <a href="#tab-codepen" 
           class="c-tabs__link js-tab" 
           data-code-tabs="tab-codepen">
          CodePen
        </a>

      </li>
      
      {% endif %}

    </ul>

    <div class="c-tabs__body">
      
      <div class="c-tabs__panel js-tabs-panel" id="tab-pattern">
      
        <section class="c-section">
          
          <header class="c-section__header">
        
            <h5 class="c-section__title">
              {{page.title}}
              {%if page.class %}<code class="u-font-size-med">{{page.class}}</code>{% endif %}
            </h5>

            {% if page.description %}

            <div>{{page.description | markdownify}}</div>

            {% endif %}
            
          </header>

            {% assign suffix = site.data.patterns.config.outputFileSuffixes.rendered | default: '' %}

            {% capture path %}/patterns/{{page.id}}/{{page.id}}{{suffix}}.html{% endcapture %}

            {% include iframe.liquid src=path %}
        
        </section>
        
      </div>

      {% if page.codepen.user and page.codepen.id %}
      
        <div class="c-tabs__panel js-tabs-panel" id="tab-codepen">

		  <section class="c-section">
					
            <header class="c-section__header">
              
              <h5 class="c-section__title">CodePen</h5>
						
              {% if page.codepen.description %}
              
                <div>{{page.codepen.description | markdownify}}</div>
              
              {% endif %}
					
            </header>
            
            {% include codepen.liquid %}
            
          </section>
          
        </div>

      {% endif %}

    </div>

  </div>
  
  <ul class="c-tabs-list js-tabs-list">
    
    {% assign suffix = site.data.patterns.config.outputFileSuffixes.rendered | default: '' %}

    {% capture path %}/patterns/{{page.id}}/{{page.id}}{{suffix}}.html{% endcapture %}
    
    <li class="c-tabs-list__item js-tabs-list-item" data-code-tabs="tab-pattern">
        
        <div class="c-tabs test-tabs js-tabs">

          <ul class="c-tabs__list">

            {% for tab in site.data.patterns.tabs %}

              {% assign lang = tab.name | downcase %}

              {% capture suffix %}{% if lang == 'html' %}{{site.data.patterns.config.outputFileSuffixes.markupOnly}}{% else %}{% endif %}{% endcapture %}

              {% capture markup %}/patterns/{{page.id}}/{{page.id}}{{suffix}}{{tab.ext}}{% endcapture %}

              <li class="c-tabs__item">

                <a href="#{{tab.name | downcase}}-{{forloop.index}}" class="c-tabs__link js-tab">{{tab.name}}</a>

              </li>

            {% endfor %}

          </ul>

          <div class="c-tabs__body ">

            {% for tab in site.data.patterns.tabs %}

              {% assign lang = tab.name | downcase %}

              {% capture suffix %}{% if lang == 'html' %}{{site.data.patterns.config.outputFileSuffixes.markupOnly}}{% else %}{% endif %}{% endcapture %}

              {% capture markup %}/patterns/{{page.id}}/{{page.id}}{{suffix}}{{tab.ext}}{% endcapture %}

                <div class="c-tabs__panel js-tabs-panel" id="{{tab.name | downcase}}-{{forloop.index}}">

                  <div class="pattern-code">

                    <button class="c-btn pattern-code-copy-btn"  data-clipboard-target="#{{tab.name | downcase}}-{{forloop.index}}">Copy</button>

                    {% include code.liquid %}

                  </div>

                </div>

            {% endfor %}

          </div>

        </div>
      
    </li>

  </ul>

</section>

<section class="c-section">
  
  {{page.content | markdownify}}

</section>

<section class="c-section">

  <div class="c-section-header ">

    <h1 class="c-section-header__title">Metadata</h1>

  </div>

  <div class="c-text-passage l-linelength-container">

    {% for meta in page.meta %}
        
      <ul>
            
        <li>Version: {{meta.version}}</li>
        <li>Last Updated: {{meta.updated}}</li>
        <li>Author: <a href="#">{{meta.author}}</a></li>
        
      </ul>
		
    {% endfor %}
    
  </div>

  <a href="#" class="c-btn">Discuss this Pattern</a>

</section>
