---
layout: default
---

{% include breadcrumbs.liquid %}

{% include page-header.liquid %}

<section class="c-section">

  <div class="c-tabs js-tabs">

    <ul class="c-tabs__list">
      
      {% for variation in page.variations %}
      
		<li class="c-tabs__item">
          
		  <a href="#tab-{{variation.title | downcase | replace: ' ', '-'}}" 
             class="c-tabs__link js-tab" 
             data-code-tabs="tab-{{variation.title | downcase | replace: ' ', '-'}}">
            {% if variation.title %}{{variation.title}}{% endif %}
          </a>
			
        </li>

      {% endfor %}
      
      {% if page.codepen.user and page.codepen.id %}
      
        <li class="c-tabs__item">
          
		  <a href="#tab-codepen" 
             class="c-tabs__link js-tab" 
             data-code-tabs="tab-codepen">
            CodePen
          </a>
			
        </li>
      
      {% endif %}

    </ul>

    <div class="c-tabs__body">

      {% for variation in page.variations %}
			
        <div class="c-tabs__panel js-tabs-panel" id="tab-{{variation.title | downcase | replace: ' ', '-'}}">

		  <section class="c-section">
					
            <header class="c-section__header">
						
              {% if variation.title %}
              
                <h5 class="c-section__title">
                  {{variation.title}}
                  {% if variation.class %}<code class="u-font-size-med">{{variation.class}}</code>{% endif %}
                </h5>
              
              {% endif %}
						
              {% if variation.description %}
              
                <div>{{variation.description | markdownify}}</div>
              
              {% endif %}
					
            </header>
            
            {% if variation.group and variation.subgroup and variation.name %}
              
              {% assign num = site.data.patterns.numbering[variation.group] | downcase %}

              {% capture src %}{{num}}-{{variation.group}}-{{variation.subgroup}}-{{variation.name}}{% endcapture %}

              {% assign suffix = site.data.patterns.config.outputFileSuffixes.rendered | default: '' %}

              {% capture path %}/patterns/{{src}}/{{src}}{{suffix}}.html{% endcapture %}

              {% capture exists %}{% file_exists {{path}} %}{% endcapture %}
     
              {% if exists == 'true' %}
            
                {% include iframe.liquid src=path %}
            
              {% endif %}
            
            {% endif %}

		  </section>

		</div>
		
      {% endfor %}

      {% if page.codepen.user and page.codepen.id %}
      
        <div class="c-tabs__panel js-tabs-panel" id="tab-codepen">

		  <section class="c-section">
					
            <header class="c-section__header">
              
              <h5 class="c-section__title">CodePen</h5>
						
              {% if page.codepen.description %}
              
                <div>{{page.codepen.description | markdownify}}</div>
              
              {% endif %}
					
            </header>
            
            {% include codepen.liquid %}
            
          </section>
          
        </div>

      {% endif %}

    </div>

  </div>
  
  <ul class="c-tabs-list js-tabs-list">
		
    {% for variation in page.variations %}

      {% if variation.group and variation.subgroup and variation.name %}

		{% assign num = site.data.patterns.numbering[variation.group] | downcase %}

		{% capture src %}{{num}}-{{variation.group}}-{{variation.subgroup}}-{{variation.name}}{% endcapture %}
    
        {% assign suffix = site.data.patterns.config.outputFileSuffixes.rendered | default: '' %}

        {% capture path %}/patterns/{{src}}/{{src}}{{suffix}}.html{% endcapture %}

      {% endif %}
    
      {% assign parentloop = forloop %}
		
      <li class="c-tabs-list__item js-tabs-list-item" data-code-tabs="tab-{{variation.title | downcase | replace: ' ', '-'}}">

		{% if variation.group and variation.subgroup and variation.name %}
        
		  <div class="c-tabs test-tabs  js-tabs">

            <ul class="c-tabs__list">

              {% for tab in site.data.patterns.tabs %}
              
                {% assign lang = tab.name | downcase %}

                {% capture suffix %}{% if lang == 'html' %}{{site.data.patterns.config.outputFileSuffixes.markupOnly}}{% else %}{% endif %}{% endcapture %}

                {% capture markup %}/patterns/{{src}}/{{src}}{{suffix}}{{tab.ext}}{% endcapture %}

                {% capture exists %}{% file_exists {{markup}} %}{% endcapture %}
     
                {% if exists == 'true' %}

                  <li class="c-tabs__item">

                    <a href="#{{tab.name | downcase}}-{{parentloop.index}}" class="c-tabs__link js-tab">{{tab.name}}</a>

                  </li>
              
                {% endif %}

              {% endfor %}

            </ul>

            <div class="c-tabs__body ">

              {% for tab in site.data.patterns.tabs %}
              
                {% assign lang = tab.name | downcase %}
              
                {% capture suffix %}{% if lang == 'html' %}{{site.data.patterns.config.outputFileSuffixes.markupOnly}}{% else %}{% endif %}{% endcapture %}
              
                {% capture markup %}/patterns/{{src}}/{{src}}{{suffix}}{{tab.ext}}{% endcapture %}
              
                {% capture exists %}{% file_exists {{markup}} %}{% endcapture %}
     
                {% if exists == 'true' %}

                  <div class="c-tabs__panel js-tabs-panel" id="{{tab.name | downcase}}-{{parentloop.index}}">

                    <div class="pattern-code">

                      <button class="c-btn pattern-code-copy-btn"  data-clipboard-target="#pattern-code-{{parentloop.index}}">Copy</button>

                      {% include code.liquid %}

                    </div>

                  </div>
              
                {% endif %}

              {% endfor %}

            </div>

		  </div>
			
        {% endif %}

      </li>

    {% endfor %}

  </ul>

</section>

<section class="c-section">

  <div class="c-section-header ">

    <h1 class="c-section-header__title">Usage</h1>

  </div>

  <div class="c-text-passage l-linelength-container">
    
    {% include definition-list.liquid %}

  </div>

  <div class="c-table-container">

    <table class="c-table ">

      <thead class="c-table__header">
        
        <tr class="c-table__header-row">
            
          <th scope="col" class="c-table__header-cell ">Class Name</th>
          <th scope="col" class="c-table__header-cell ">Description</th>
        
        </tr>
        
      </thead>

      <tbody class="c-table__body ">
				
        {% for class in page.classes %}
        
          {% assign class.description = class.description | default: '' %}

		  <tr class="c-table__row ">

		    <td class="c-table__cell ">{{class.name}}</td>
            <td class="c-table__cell ">{{class.description | markdownify}}</td>

		  </tr>
				
        {% endfor %}

      </tbody>

    </table>

  </div>

</section>

<section class="c-section">

  <div class="c-section-header ">

    <h1 class="c-section-header__title">Metadata</h1>

  </div>

  <div class="c-text-passage l-linelength-container">

    {% for meta in page.meta %}
        
      <ul>
            
        <li>Version: {{meta.version}}</li>
        <li>Last Updated: {{meta.updated}}</li>
        <li>Author: <a href="#">{{meta.author}}</a></li>
        
      </ul>
		
    {% endfor %}
    
  </div>

  <a href="#" class="c-btn">Discuss this component</a>

</section>
